.recipe-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100vw;

	.recipe-search {
		background-color: #eea950;
		border-radius: 0.4rem;
		width: 100%;
		margin-top: 1rem;
		padding: 1rem 0.5rem;

		.title {
			font-size: 2rem;
			color: grey;
		}

		.search-input {
			width: 100%;
			border-radius: 0.4rem;
			border: none;
			padding: 0.4rem;
		}
	}

	.recipe-list {
		margin-top: 1rem;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.recipe-item {
			border: 1px solid grey;
			border-radius: 0.4rem;
			margin: 0.4rem;
			width: 99%;

			.btn-blocks {
				padding: 0.4rem;
				display: flex;
				justify-content: space-evenly;

				.btn {
					width: 50%;
					margin: 0 0.2rem;
				}
			}
		}
	}
}

@media (min-width: 544px) {
	.recipe-page {
		.recipe-search {
			width: 70%;
		}

		.recipe-list {
			padding: 1rem 0.2rem;
			width: 100vw;
			.recipe-item {
				border: 1px solid black;
				width: 45%;

				.btn-blocks {
					padding: 0rem;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.recipe-page {
		.recipe-list {
			padding: 1px;
			.recipe-item {
				border: 1px solid black;
				width: 45%;
				margin: 0.2rem;

				.btn-blocks {
					padding: 0rem;
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.recipe-page {
		.recipe-list {
			padding: 1px;
			.recipe-item {
				border: 1px solid black;
				width: 32%;
				margin: 0.2rem;

				.btn-blocks {
					padding: 0rem;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.recipe-page {
		.recipe-search {
			width: 60%;
		}
		.recipe-list {
			padding: 1px;
			.recipe-item {
				border: 1px solid black;
				width: 24%;
				margin: 0.2rem;

				.btn-blocks {
					padding: 0rem;
				}
			}
		}
	}
}
