.recipe-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100vw;

	.recipe-search {
		background-color: #eea950;
		border-radius: 0.4rem;
		width: 100%;
		margin-top: 1rem;
		padding: 1rem;

		.title {
			font-size: 2rem;
			color: grey;
		}

		.search {
			width: 100%;
			border-radius: 0.4rem;
			border: none;
		}
	}

	.recipe-list {
		margin-top: 1rem;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media (min-width: 544px) {
	.recipe-page {
		.recipe-search {
			width: 70%;
		}

		.recipe-list {
			padding: 1rem 0.2rem;
			width: 100vw;
		}
	}
}
@media (min-width: 768px) {
	.recipe-page {
		.recipe-list {
			padding: 1px;
		}
	}
}
@media (min-width: 992px) {
	.recipe-page {
		.recipe-list {
			padding: 1px;
		}
	}
}
@media (min-width: 1200px) {
	.recipe-page {
		.recipe-search {
			max-width: 800px;
		}
		.recipe-list {
			padding: 1px;
		}
	}
}
