.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: grey;
    opacity: 0.8;
  }

  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    background: orange;
    padding: 0.9rem;
    border-radius: 0.4rem;

    * {
      width: 100%;
    }
  }

  .search-example {
    font-size: 0.9rem;
    text-align: center;
  }

  .tag {
    margin-top: 1rem;
    a {
      color: greenyellow;
    }
  }
}

@media (min-width: 544px) {
  .main-page {
    .title {
      font-size: 4rem;
    }

    .search-container {
      width: 50vw;
    }
    // .search-example {
    //   font-size: 1rem;
    // }
  }
}

@media (min-width: 768px) {
  .main-page {
    .title {
      font-size: 5rem;
    }
    .search-container {
      width: 40vw;
    }
  }
}

@media (min-width: 992px) {
  .main-page {
    .title {
      font-size: 6rem;
    }
    .search-container {
      max-width: 500px;
    }
    // .search-example {
    //   font-size: 1.1rem;
    // }
  }
}
